includes:
#    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelAppends: true
    checkModelProperties: true
    ignoreErrors:
        -
            identifier: missingType.iterableValue
